
.div-table {
    display: table;         
    width: auto;            
  }
  .div-table-row {
    display: table-row;
    width: auto;
    clear: both;
    border: 1px solid #666666;         
  }
  .div-table-col {
    float: left; /* fix for  buggy browsers */
    display: table-column;
    border: 1px solid #666666;         
  }



.start_frame
{
position:absolute;
background-color:#ffffff;
height:449px;
width:300px;
padding:0px;
}
.start_rect
{
background-color:#68d0d0;
height:60px;
width:300px;
position:absolute;
top:68px;
left:0px;
}
.start3
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:12px;
font-family:Inter;
line-height:auto;
border-style:hidden;
outline:none;
width:300px;
position:absolute;
top:68px;
left:0px;
}
.rectangle6
{
background-color:#269494;
height:60px;
width:300px;
position:absolute;
top:0px;
left:0px;
}
.title
{
color:#ffffff;
text-align:center;
vertical-align:text-middle;
font-size:24px;
font-family:Inter;
line-height:auto;
border-style:hidden;
outline:none;
width:300px;
position:absolute;
top:0px;
left:0px;
}


.game_frame
{
position:absolute;
background-color:#ffffff;
height:449px;
width:300px;
padding:0px;
}
.rectangle1
{
background-color:#269494;
height:60px;
width:300px;
position:absolute;
top:0px;
left:0px;
}
.title
{
color:#ffffff;
text-align:center;
vertical-align:text-middle;
font-size:24px;
font-family:Inter;
line-height:auto;
border-style:hidden;
outline:none;
width:300px;
position:absolute;
top:0px;
left:0px;
}
.rectangle2
{
background-color:#68d0d0;
height:30px;
width:300px;
position:absolute;
top:69px;
left:0px;
}
.rectangle3
{
background-color:#c0e8e8;
height:301px;
width:300px;
position:absolute;
top:108px;
left:0px;
}
.information
{
color:#f9f6ab;
text-align:center;
vertical-align:text-middle;
font-size:12px;
font-family:Inter;
line-height:auto;
border-style:hidden;
outline:none;
width:300px;
position:absolute;
top:70px;
left:0px;
}
.rectangle4
{
background-color:#269494;
height:30px;
width:300px;
position:absolute;
top:419px;
left:0px;
}
.score
{
color:#f8f14a;
text-align:center;
vertical-align:text-middle;
font-size:12px;
font-family:Inter;
line-height:auto;
border-style:hidden;
outline:none;
width:300px;
position:absolute;
top:418px;
left:0px;
}
.board
{
color:#000000;
text-align:center;
vertical-align:text-middle;
font-size:12px;
font-family:Inter;
line-height:auto;
border-style:hidden;
outline:none;
width:300px;
position:absolute;
top:108px;
left:0px;
}
